@tailwind components;
@tailwind utilities; 

.sidebar-toggle {
  display: none;
}

@media (max-width: 768px) {
  aside {
    transform: translateX(-100%);
    position: fixed;
    height: 100%;
  }
  aside.open {
    transform: translateX(0);
  }
}

.btn-red{
  background-color: red;
  color: wheat;
  border-radius:10px;
}