@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out forwards;
}

@keyframes pulse-button {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.animate-pulse-button {
  animation: pulse-button 2s ease-in-out infinite;
}

.music-bar {
  display: inline-block;
  width: 6px;
  height: 20px;
  background-color: #059669;
  border-radius: 10px;
  animation: music-pulse 1.2s ease-in-out infinite;
  margin: 0 3px;
}

.music-bar:nth-child(2) {
  height: 30px;
}

.music-bar:nth-child(4) {
  height: 25px;
}

@keyframes music-pulse {
  0% {
    transform: scaleY(1);
    background-color: #059669;
  }
  50% {
    transform: scaleY(1.8);
    background-color: #10b981;
  }
  100% {
    transform: scaleY(1);
    background-color: #059669;
  }
}

.res{
  display: none !important;
}

@media (max-width:768px) {
  .res{
    display: block !important;
  }
}